Data Cleaning for Ebola Dataset (Guinea,Liberia and Sierra Leona)

Dataset sources: https://apps.who.int/gho/data/node.ebola-sitrep.quick-downloads?lang=en

In [1]:
import pandas as pd
import numpy as np

In [2]:
Guinea=pd.read_csv('2016-05-11_Guinea.csv')
Liberia=pd.read_csv('2016-05-11_Liberia.csv')
Sierra_Leona=pd.read_csv('2016-05-11_Sierra_Leona.csv')

In [3]:
Ebola_Countries = [Guinea, Liberia, Sierra_Leona]
Ebola= pd.concat(Ebola_Countries)
Ebola.shape

(32067, 19)

In [4]:
Ebola.head(10)

,Country,Age group,Gender,Location,Ebola measure,Case definition,Ebola data source,Epi week,Indicator type,Data package ID,Data as of,Outbreak identifier,Display Value,Numeric,Low,High,StdErr,StdDev,Comments
0,Guinea,NaN,NaN,NaN,Number of cases,Confirmed,NaN,NaN,Cumulative,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,3351,3351.0,NaN,NaN,NaN,NaN,The outbreak in Guinea was declared over on 29...
1,Guinea,NaN,NaN,NaN,Number of cases,Probable,NaN,NaN,Cumulative,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,453,453.0,NaN,NaN,NaN,NaN,The outbreak in Guinea was declared over on 29...
2,Guinea,NaN,NaN,NaN,Number of cases,Suspected,NaN,NaN,Cumulative,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,0,0.0,NaN,NaN,NaN,NaN,The outbreak in Guinea was declared over on 29...
3,Guinea,NaN,NaN,NaN,Number of cases,Total,NaN,NaN,Cumulative,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,3804,3804.0,NaN,NaN,NaN,NaN,The outbreak in Guinea was declared over on 29...
4,Guinea,NaN,NaN,NaN,Number of cases,Confirmed,NaN,NaN,In past 21 days,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,-,NaN,NaN,NaN,NaN,NaN,Not applicable.
5,Guinea,NaN,NaN,NaN,Number of cases,Probable,NaN,NaN,In past 21 days,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,-,NaN,NaN,NaN,NaN,NaN,Not applicable.
6,Guinea,NaN,NaN,NaN,Number of cases,Suspected,NaN,NaN,In past 21 days,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,-,NaN,NaN,NaN,NaN,NaN,Not applicable.
7,Guinea,NaN,NaN,NaN,Number of cases,Total,NaN,NaN,In past 21 days,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,-,NaN,NaN,NaN,NaN,NaN,Not applicable.
8,Guinea,NaN,NaN,NaN,Number of deaths,Confirmed,NaN,NaN,Cumulative,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,2083,2083.0,NaN,NaN,NaN,NaN,The outbreak in Guinea was declared over on 29...
9,Guinea,NaN,NaN,NaN,Number of deaths,Probable,NaN,NaN,Cumulative,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,453,453.0,NaN,NaN,NaN,NaN,The outbreak in Guinea was declared over on 29...

In [5]:
Ebola.tail(10)

,Country,Age group,Gender,Location,Ebola measure,Case definition,Ebola data source,Epi week,Indicator type,Data package ID,Data as of,Outbreak identifier,Display Value,Numeric,Low,High,StdErr,StdDev,Comments
7399,Sierra Leone,NaN,NaN,WESTERN AREA URBAN,Number of cases,Confirmed,Situation report,02 to 08 May 2016 (2016-W18),New,Data package 2016-05-11,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN
7400,Sierra Leone,NaN,NaN,WESTERN AREA URBAN,Number of cases,Probable,Situation report,02 to 08 May 2016 (2016-W18),New,Data package 2016-05-11,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN
7401,Sierra Leone,NaN,NaN,WESTERN AREA RURAL,Number of cases,Confirmed,Patient database,02 to 08 May 2016 (2016-W18),New,Data package 2016-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7402,Sierra Leone,NaN,NaN,WESTERN AREA RURAL,Number of cases,Probable,Patient database,02 to 08 May 2016 (2016-W18),New,Data package 2016-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7403,Sierra Leone,NaN,NaN,WESTERN AREA RURAL,Number of cases,Confirmed,Situation report,02 to 08 May 2016 (2016-W18),New,Data package 2016-05-11,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN
7404,Sierra Leone,NaN,NaN,WESTERN AREA RURAL,Number of cases,Probable,Situation report,02 to 08 May 2016 (2016-W18),New,Data package 2016-05-11,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN
7405,Sierra Leone,NaN,NaN,NaN,Number of cases,Confirmed,Patient database,02 to 08 May 2016 (2016-W18),New,Data package 2016-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7406,Sierra Leone,NaN,NaN,NaN,Number of cases,Probable,Patient database,02 to 08 May 2016 (2016-W18),New,Data package 2016-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7407,Sierra Leone,NaN,NaN,NaN,Number of cases,Confirmed,Situation report,02 to 08 May 2016 (2016-W18),New,Data package 2016-05-11,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN
7408,Sierra Leone,NaN,NaN,NaN,Number of cases,Probable,Situation report,02 to 08 May 2016 (2016-W18),New,Data package 2016-05-11,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN

In [6]:
Ebola.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32067 entries, 0 to 7408
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              32067 non-null  object
 1   Age group            15 non-null     object
 2   Gender               15 non-null     object
 3   Location             30504 non-null  object
 4   Ebola measure        32067 non-null  object
 5   Case definition      32067 non-null  object
 6   Ebola data source    31980 non-null  object
 7   Epi week             31980 non-null  object
 8   Indicator type       32067 non-null  object
 9   Data package ID      32067 non-null  object
 10  Data as of           72 non-null     object
 11  Outbreak identifier  72 non-null     object
 12  Display Value        23260 non-null  object
 13  Numeric              23227 non-null  float64
 14  Low                  0 non-null      float64
 15  High                 0 non-null      float64
 16  StdErr               0 non-null      float64
 17  StdDev               0 non-null      float64
 18  Comments             77 non-null     object
dtypes: float64(5), object(14)
memory usage: 4.9+ MB

In [7]:
# Undestanding the value count
print(Ebola.Country.value_counts(), '\n')
print(Ebola.Gender.value_counts(), '\n')
print(Ebola.Location.value_counts(), '\n')
print(Ebola['Ebola measure'].value_counts(), '\n')
print(Ebola['Case definition'].value_counts(), '\n')
print(Ebola['Ebola data source'].value_counts(), '\n')
print(Ebola['Epi week'].value_counts(), '\n')
print(Ebola['Indicator type'].value_counts(), '\n')

Guinea          16757
Liberia          7901
Sierra Leone     7409
Name: Country, dtype: int64

Both sexes    9
Female        3
Male          3
Name: Gender, dtype: int64

LELOUMA             492
GRAND KRU           492
N'ZEREKORE          492
KOUROUSSA           492
KOINADUGU           492
                   ...
GRAND CAPE MOUNT    492
PITA                492
GBARPOLU            492
GAOUAL              492
BONTHE              492
Name: Location, Length: 62, dtype: int64

Number of cases     32043
Number of deaths       24
Name: Ebola measure, dtype: int64

Confirmed    16023
Probable     16008
Total           18
Suspected       18
Name: Case definition, dtype: int64

Patient database    15990
Situation report    15990
Name: Ebola data source, dtype: int64

18 to 24 April 2016 (2016-W16)          260
06 to 12 April 2015 (2015-W15)          260
12 to 18 May 2014 (2014-W20)            260
06 to 12 July 2015 (2015-W28)           260
27 April to 03 May 2015 (2015-W18)      260
                                       ...
24 to 30 March 2014 (2014-W13)          260
01 to 07 September 2014 (2014-W36)      260
03 to 09 August 2015 (2015-W32)         260
28 July to 03 August 2014 (2014-W31)    260
10 to 16 August 2015 (2015-W33)         260
Name: Epi week, Length: 123, dtype: int64

New                31980
Cumulative            63
In past 21 days       24
Name: Indicator type, dtype: int64

In [8]:
Ebola.head()

,Country,Age group,Gender,Location,Ebola measure,Case definition,Ebola data source,Epi week,Indicator type,Data package ID,Data as of,Outbreak identifier,Display Value,Numeric,Low,High,StdErr,StdDev,Comments
0,Guinea,NaN,NaN,NaN,Number of cases,Confirmed,NaN,NaN,Cumulative,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,3351,3351.0,NaN,NaN,NaN,NaN,The outbreak in Guinea was declared over on 29...
1,Guinea,NaN,NaN,NaN,Number of cases,Probable,NaN,NaN,Cumulative,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,453,453.0,NaN,NaN,NaN,NaN,The outbreak in Guinea was declared over on 29...
2,Guinea,NaN,NaN,NaN,Number of cases,Suspected,NaN,NaN,Cumulative,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,0,0.0,NaN,NaN,NaN,NaN,The outbreak in Guinea was declared over on 29...
3,Guinea,NaN,NaN,NaN,Number of cases,Total,NaN,NaN,Cumulative,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,3804,3804.0,NaN,NaN,NaN,NaN,The outbreak in Guinea was declared over on 29...
4,Guinea,NaN,NaN,NaN,Number of cases,Confirmed,NaN,NaN,In past 21 days,Data package 2016-05-11,28 December 2015,EVD West Africa 2014,-,NaN,NaN,NaN,NaN,NaN,Not applicable.

In [9]:
# Dropping columns with many missing values
Ebola.drop(columns=['Age group','Gender','Data as of','Outbreak identifier','Low','High','StdErr','StdDev','Comments'], inplace = True)

In [10]:
Ebola.head(10)

,Country,Location,Ebola measure,Case definition,Ebola data source,Epi week,Indicator type,Data package ID,Display Value,Numeric
0,Guinea,NaN,Number of cases,Confirmed,NaN,NaN,Cumulative,Data package 2016-05-11,3351,3351.0
1,Guinea,NaN,Number of cases,Probable,NaN,NaN,Cumulative,Data package 2016-05-11,453,453.0
2,Guinea,NaN,Number of cases,Suspected,NaN,NaN,Cumulative,Data package 2016-05-11,0,0.0
3,Guinea,NaN,Number of cases,Total,NaN,NaN,Cumulative,Data package 2016-05-11,3804,3804.0
4,Guinea,NaN,Number of cases,Confirmed,NaN,NaN,In past 21 days,Data package 2016-05-11,-,NaN
5,Guinea,NaN,Number of cases,Probable,NaN,NaN,In past 21 days,Data package 2016-05-11,-,NaN
6,Guinea,NaN,Number of cases,Suspected,NaN,NaN,In past 21 days,Data package 2016-05-11,-,NaN
7,Guinea,NaN,Number of cases,Total,NaN,NaN,In past 21 days,Data package 2016-05-11,-,NaN
8,Guinea,NaN,Number of deaths,Confirmed,NaN,NaN,Cumulative,Data package 2016-05-11,2083,2083.0
9,Guinea,NaN,Number of deaths,Probable,NaN,NaN,Cumulative,Data package 2016-05-11,453,453.0

In [11]:
Ebola1 = pd.pivot_table(Ebola, values=['Numeric'], index=['Country', 'Epi week', 'Ebola data source'], columns=['Case definition'], aggfunc=np.sum)
Ebola1.head(300)

                                                              Numeric
Case definition                                             Confirmed Probable
Country Epi week                          Ebola data source
Guinea  01 to 07 December 2014 (2014-W49) Patient database      220.0     22.0
                                          Situation report      192.0     14.0
        01 to 07 February 2016 (2016-W05) Patient database        0.0      0.0
                                          Situation report        0.0      0.0
        01 to 07 June 2015 (2015-W23)     Patient database       24.0      0.0
...                                                               ...      ...
Liberia 07 to 13 December 2015 (2015-W50) Situation report        0.0      0.0
        07 to 13 July 2014 (2014-W28)     Patient database       66.0     10.0
                                          Situation report       27.0      0.0
        07 to 13 March 2016 (2016-W10)    Patient database        0.0      0.0
                                          Situation report        0.0      0.0

[300 rows x 2 columns]

In [12]:
Ebola2 = pd.DataFrame(Ebola1.to_records()) 
Ebola2.rename({'(\'Numeric\', \'Confirmed\')' :  'Confirmed_cases', '(\'Numeric\', \'Probable\')' :  'Probable_cases', }, axis = 1, inplace = True)
Ebola2.head(300)

,Country,Epi week,Ebola data source,Confirmed_cases,Probable_cases
0,Guinea,01 to 07 December 2014 (2014-W49),Patient database,220.0,22.0
1,Guinea,01 to 07 December 2014 (2014-W49),Situation report,192.0,14.0
2,Guinea,01 to 07 February 2016 (2016-W05),Patient database,0.0,0.0
3,Guinea,01 to 07 February 2016 (2016-W05),Situation report,0.0,0.0
4,Guinea,01 to 07 June 2015 (2015-W23),Patient database,24.0,0.0
...,...,...,...,...,...
295,Liberia,07 to 13 December 2015 (2015-W50),Situation report,0.0,0.0
296,Liberia,07 to 13 July 2014 (2014-W28),Patient database,66.0,10.0
297,Liberia,07 to 13 July 2014 (2014-W28),Situation report,27.0,0.0
298,Liberia,07 to 13 March 2016 (2016-W10),Patient database,0.0,0.0
299,Liberia,07 to 13 March 2016 (2016-W10),Situation report,0.0,0.0

In [13]:
Ebola2.shape

(738, 5)

In [14]:
Ebola2.to_csv('Ebola_Countries_pivoted.csv')